.grants {
    .publisher {
        font-size: 16px;
        span i {
            width: 16px;
        }
    }
    .grant-filter-type {
        font-size: 30px;
        span i {
            width: 30px;
            text-align: left;
        }
    }
    .custom-tag {
        position: relative;
        margin: 5px 0 5px 0;
        padding: 5px 5px 5px 5px;
        button {
            outline: none;
            position: absolute;
            top: -3px;
            right: -12px;
            font-size: 16px;
        }
    }
}
