<div class="grants">
    <div class="row">
        <div class="col-md-2">
            <div class="card container">
                <fieldset class="form-group row">
                    <legend class="col-form-legend col-sm-2">
                        <span class="glyphicon glyphicon-folder-open"></span> Utylysare
                    </legend>
                    <div class="col-sm-10">
                        <div class="form-check" *ngFor="let fi of filters; let i = index">
                            <label class="form-check-label">
                                <input class="form-check-input" (ngModelChange)="onFiltering()"
                                       [(ngModel)]="fi.value" type="checkbox"> {{fi.name}}
                            </label>
                        </div>
                    </div>

                </fieldset>
                <fieldset class="form-group row">
                    <legend class="col-form-legend col-sm-2">
                        <span class="glyphicon glyphicon-folder-open"></span> Utylysare
                    </legend>
                    <div class="col-sm-10">
                        <select class="custom-select" ng-model="data.singleSelect">
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                        </select>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="col-md-10">
            <div class="card">
                <div class="row">
                    <div class="col-md-6 text-center">
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox"
                                       (ngModelChange)="onFiltering()" value="option1"> Public
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6 text-center">
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox"
                                       (ngModelChange)="onFiltering()" value="option2"> Private
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card margin-top-20">
                <div class="table-responsive" *ngIf="grantDTOs">
                    <table class="table table-striped">
                        <thead>
                        <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse"
                            [callback]="transition.bind(this)">
                            <th jhiSortBy="grantProgramDTO.publisherDTO.name"><span>Utylysare</span><span
                                class="fa fa-sort"></span></th>
                            <th jhiSortBy="title"><span>Title</span><span class="fa fa-sort"></span></th>
                            <th><span>Description</span></th>
                            <th><span>Finance Description</span></th>
                            <th jhiSortBy="openDate"><span>Open Date</span><span class="fa fa-sort"></span></th>
                            <th jhiSortBy="closeDate"><span>Close Date</span><span class="fa fa-sort"></span></th>
                            <th *jhiHasAnyAuthority="'ROLE_ADMIN'"></th>
                        </tr>
                        </thead>
                        <tbody *ngIf="grantDTOs">
                        <tr *ngFor="let grantDTO of grantDTOs; let i = index">
                            <td>{{grantDTO.grantProgramDTO.publisherDTO.name}}</td>
                            <td>
                                <a href="{{grantDTO.externalUrl?grantDTO.externalUrl:'javascript:void(0)'}}">
                                    {{grantDTO.title}}
                                </a>
                            </td>
                            <td>{{grantDTO.description}}</td>
                            <td [innerHTML]="grantDTO.financeDescription"></td>
                            <td>{{grantDTO.openDate| date: 'dd/MM/yyyy'}}</td>
                            <td>{{grantDTO.closeDate| date: 'dd/MM/yyyy'}}</td>
                            <td *jhiHasAnyAuthority="'ROLE_ADMIN'" class="text-right">
                                <div class="btn-group flex-btn-group-container">
                                    <button type="submit"
                                            [routerLink]="['/', { outlets: { popup: 'grant-management/'+ grantDTO.id + '/edit'} }]"
                                            replaceUrl="true"
                                            class="btn btn-primary btn-sm">
                                        <span class="fa fa-pencil"></span>
                                        <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div *ngIf="grantDTOs">
                    <div class="row justify-content-center">
                        <jhi-item-count [page]="page" [total]="totalItems"
                                        [itemsPerPage]="itemsPerPage"></jhi-item-count>
                    </div>
                    <div class="row justify-content-center">
                        <ngb-pagination [maxSize]="7" [pageSize]="itemsPerPage" [collectionSize]="totalItems"
                                        [(page)]="page"
                                        (pageChange)="loadPage(page)"></ngb-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
