.grants {
    .utylysare {
        font-size: 16px;
        span i {
            width: 16px;
        }
    }
    .grant-filter-type {
        font-size: 30px;
        span i {
            width: 30px;
            text-align: left;
        }
    }
}
