<div class="grants">
    <div class="row">
        <div class="col-md-2">
            <div class="card container">
                <fieldset class="form-group row">
                    <legend class="col-form-legend col-sm-2">
                        <span class="glyphicon glyphicon-folder-open"></span> <b>Utylysare</b>
                    </legend>
                    <div class="col-sm-10">
                        <div class="form-check" *ngFor="let fi of filters; let i = index">
                            <label class="form-check-label">
                                <input class="form-check-input" (ngModelChange)="onFiltering()"
                                       [(ngModel)]="fi.value" type="checkbox"> {{fi.name}}
                            </label>
                        </div>
                    </div>

                </fieldset>
                <fieldset class="form-group row">
                    <legend class="col-form-legend col-sm-2">
                        <span class="glyphicon glyphicon-folder-open"></span> <b>Utylysare</b>
                    </legend>
                    <div class="col-sm-10">
                        <select class="custom-select" ng-model="data.singleSelect">
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                        </select>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="col-md-10">
            <div class="card">
                <div class="row" style="font-size: 30px">
                    <div class="col-md-6 text-center">
                        <span (click)="grantFilter.publicGrant=!grantFilter.publicGrant"><i
                            [ngClass]="grantFilter.publicGrant?'fa fa-check-square-o':'fa fa-square-o'"
                            aria-hidden="true"></i> Public </span>
                    </div>
                    <div class="col-md-6 text-center">
                        <span (click)="grantFilter.privateGrant=!grantFilter.privateGrant"><i
                            [ngClass]="grantFilter.privateGrant?'fa fa-check-square-o':'fa fa-square-o'"
                            aria-hidden="true"></i> Private </span>
                    </div>
                </div>
            </div>
            <div class="card margin-top-20">
                <div class="table-responsive" *ngIf="grantDTOs">
                    <table class="table">
                        <thead class="thead-default">
                        <tr class="row m-0" jhiSort [(predicate)]="predicate" [(ascending)]="reverse"
                            [callback]="transition.bind(this)">
                            <th class="col-1 text-center"><span>Utylysare</span></th>
                            <th class="col-2 text-center" jhiSortBy="title"><span>Title</span><span
                                class="fa fa-sort"></span></th>
                            <th class="col-3 text-center"><span>Description</span></th>
                            <th class="col-2 text-center"><span>Finance Description</span></th>
                            <th class="col-2 text-center" jhiSortBy="openDate"><span>Open Date</span><span
                                class="fa fa-sort"></span></th>
                            <th class="col-2 text-center" jhiSortBy="closeDate"><span>Close Date</span><span
                                class="fa fa-sort"></span></th>
                        </tr>
                        </thead>
                        <tbody *ngIf="grantDTOs">
                        <tr *ngFor="let grantDTO of grantDTOs; let i = index" class="row m-0">
                            <td class="col-1">{{grantDTO.grantProgramDTO.publisherDTO.name}}</td>
                            <td class="col-2">
                                <a href="{{grantDTO.externalUrl?grantDTO.externalUrl:'javascript:void(0)'}}">
                                    {{grantDTO.grantProgramDTO.name}}
                                </a>
                            </td>
                            <td class="col-3">{{grantDTO.grantProgramDTO.description}}</td>
                            <td class="col-2" [innerHTML]="grantDTO.financeDescription"></td>
                            <td class="col-2">{{grantDTO.openDate| date: 'dd/MM/yyyy'}}</td>
                            <td class="col-2">{{grantDTO.closeDate| date: 'dd/MM/yyyy'}}</td>
                            <td class="col-6 text-center" *jhiHasAnyAuthority="'ROLE_ADMIN'">
                                <div class="btn-group">
                                    <button type="button"
                                            [routerLink]="'/grant-edit/'+ grantDTO.id"
                                            class="btn btn-primary btn-sm">
                                        <span class="fa fa-pencil"></span>
                                        <span class="hidden-md-down"
                                              jhiTranslate="grants.action.editGrant">Edit Grant</span>
                                    </button>
                                </div>
                            </td>
                            <td class="col-6 text-center" *jhiHasAnyAuthority="'ROLE_ADMIN'">
                                <div class="btn-group">
                                    <button type="button"
                                            [routerLink]="'/grant-program-edit/'+ grantDTO.grantProgramDTO.id"
                                            class="btn btn-primary btn-sm">
                                        <span class="fa fa-pencil"></span>
                                        <span class="hidden-md-down" jhiTranslate="grants.action.editGrantProgram">Edit Grant Program</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="margin-top-20" *ngIf="grantDTOs">
                <div class="row justify-content-center">
                    <jhi-item-count [page]="page" [total]="totalItems"
                                    [itemsPerPage]="itemsPerPage"></jhi-item-count>
                </div>
                <div class="row justify-content-center">
                    <ngb-pagination [maxSize]="7" [pageSize]="itemsPerPage" [collectionSize]="totalItems"
                                    [(page)]="page"
                                    (pageChange)="loadPage(page)"></ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
