<div class="grants">
    <div class="row">
        <div class="col-md-2">
            <div class="card container">
                <fieldset class="form-group row" *ngIf="publisherCrawled.length>0">
                    <legend class="col-form-legend col-sm-2">
                        <span class="glyphicon glyphicon-folder-open"></span>
                        <b jhiTranslate="grants.publisher">Publisher</b>
                    </legend>
                    <div class="col-sm-12 publisher">
                        <div *ngFor="let publisher of publisherCrawled; let i = index">
                            <a><span (click)="publisher.check=!publisher.check; onFiltering();"><i
                                [ngClass]="publisher.check?'fa fa-check-square-o':'fa fa-square-o'"
                                aria-hidden="true"></i> {{publisher.name}} </span></a>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-group row">
                    <legend class="col-form-legend col-sm-2">
                        <span class="glyphicon glyphicon-folder-open"></span>
                        <b jhiTranslate="grants.area">Area</b>
                    </legend>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" [(ngModel)]="area"
                               (ngModelChange)="onChangeArea($event)"
                               [ngbTypeahead]="searchArea" [inputFormatter]="inputFormatter"
                               [resultFormatter]="resultFormatter"/>
                        <div *ngFor="let area of grantFilter.areaDTOs; let i = index"
                             class="alert alert-success alert-dismissible fade show custom-tag" role="alert">
                            <strong>{{area.name}}</strong>
                            <button (click)="removeArea(area)" type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="card container margin-top-20">
                <fieldset class="form-group row" *ngIf="publisherNotCrawled.length>0">
                    <legend class="col-form-legend col-sm-2">
                        <span class="glyphicon glyphicon-folder-open"></span>
                        <b jhiTranslate="grants.otherPublisher">Other publisher</b>
                    </legend>
                    <div class="col-sm-12 publisher">
                        <div *ngFor="let publisher of publisherNotCrawled; let i = index">
                            <a href="{{publisher.url?publisher.url:'javascript:void(0)'}}"
                               [target]="publisher.url ? '_blank' : ''">{{publisher.name}}
                            </a>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="col-md-10">
            <div class="card">
                <div class="row grant-filter-type">
                    <div class="col-md-6 text-center">
                        <a><span (click)="grantFilter.openGrant=!grantFilter.openGrant; onFiltering();"><i
                            [ngClass]="grantFilter.openGrant?'fa fa-check-square-o':'fa fa-square-o'"
                            aria-hidden="true"></i> Open grants </span></a>
                    </div>
                    <div class="col-md-6 text-center">
                        <a><span (click)="grantFilter.comingGrant=!grantFilter.comingGrant; onFiltering();"><i
                            [ngClass]="grantFilter.comingGrant?'fa fa-check-square-o':'fa fa-square-o'"
                            aria-hidden="true"></i> Forthcoming grants</span></a>
                    </div>
                </div>
            </div>
            <jhi-list-grant *ngIf='loadPublisherFinished' [data]='data'></jhi-list-grant>
        </div>
    </div>
</div>
