<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.notification.grant.title}">JHipster password reset</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" href="${baseUrl}/favicon.ico"/>
    <script th:src="@{https://code.jquery.com/jquery-3.2.1.slim.min.js}" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js}" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js}" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css}"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
    <link href="${baseUrl}/css/notificationGrant.css" rel="stylesheet" type="text/css"  />
</head>
<body>
    <p th:text="#{email.notification.grant.greeting(${user.login})}">
        Dear
    </p>
    <div th:if="${not #lists.isEmpty(grants)}">
        <h2>Grant List</h2>
        <table class="table table-hover table-striped">
            <tr>
                <th>Publisher</th>
                <th>Title</th>
                <th>Open Date</th>
                <th>Close Date</th>
            </tr>
            <tr th:each="grant : ${grants}">
                <td th:text="${grant.grantProgramDTO.publisherDTO.name}"></td>
                <td th:text="${grant.title}"></td>
                <td th:text="${grant.openDate != null} ? ${#dates.format(grant.openDate, 'dd-MM-yyyy')} : #{email.notification.grant.notAvailable}"></td>
                <td th:text="${grant.closeDate != null} ? ${#dates.format(grant.closeDate, 'dd-MM-yyyy')} : #{email.notification.grant.notAvailable}"></td>
            </tr>
        </table>
    </div>
    <p>
        <span th:text="#{email.notification.grant.text}">Regards, </span>
        <br/>
        <em th:text="#{email.signature}">JHipster.</em>
    </p>
</body>
</html>
