.footer {
    padding-top: 33px;
    padding-bottom: 45px;
    background-color: #353d47;
    color: #a1a1a1;
    .logo {
        img{
            width: 90px;
            height: 22px;
            object-fit: contain;
        }
    }
    .title {
        padding-top: 7px;
        height: 22px;
        font-size: 11px;
        font-weight: 500;
        letter-spacing: 2px;
        text-align: left;
        color: #f7f7f7;
    }
    .content {
        margin-top: 10px;
        font-size: 11px;
        line-height: 1.83;
        text-align: left;
        color: #a1a1a1;
        a {
            color: #00a9ff;
        }
    }
    .icon-social {
        margin-top: 17px;
        display: inline-block;
        color: #ffffff;
        opacity: 0.5;
        font-size: 24px;
    }
    .icon-social-facebook {
        margin-right: 31px;
    }
}

@media (min-width: 1400px) {
    padding-top: 47px;
    padding-bottom: 1px;
    .footer {
        .logo {
            img{
                width: 90px;
                height: 22px;
            }
        }
        .title {
            padding-top: 7px;
            font-size: 12px;
        }
        .content {
            margin-top: 15px;
            font-size: 12px;
        }
        .icon-social {
            margin-top: 22px;
            font-size: 24px;
        }
        .icon-social-facebook {
            margin-right: 31px;
        }
    }
}
