<div class="footer text-left">
    <div class="row">
        <div class="col-logo">
            <div class="logo">
                <img src="../../../content/images/header.png">
            </div>
            <div class="content">
                <span jhiTranslate="footer.aboutUs">Why should it be complicated and time-consuming to find<br>public funding for innovative ventures? It shouldn’t! Avonniv<br>is a non-profit platform that makes it easy to discover<br>opportunities of public funding for driving innovation.</span>
            </div>
        </div>
        <div class="col-contact">
            <div class="title">
                <span jhiTranslate="footer.contact.title">CONTACT US</span>
            </div>
            <div class="content">
                <span jhiTranslate="footer.contact.content">Can you think of any other grantmaker, or any information,<br>that should be available on Avonniv? If so, drop us a line and<br>we´ll get on it asap!  Email:</span>
                <a href="mailto:info@avonniv.com">info@avonniv.com</a>
            </div>
        </div>
        <div class="col-social">
            <div class="title">
                <span jhiTranslate="footer.follow">FOLLOW US</span>
            </div>
            <div class="icon-social icon-social-facebook text-center">
                <span>
                    <i class="fa fa-facebook-official" aria-hidden="true"></i>
                </span>
            </div>
            <div class="icon-social icon-social-linkedin text-center">
                <span>
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="copyright">
            <div class="content">
                <span jhiTranslate="footer.copyright">© 2017 Avonniv</span>
            </div>
        </div>
    </div>
</div>
