.password-reset-finish {
    padding: 24px 42px 24px 40px;
    font-size: 13px;
    form {
        input {
            padding: 11px 23px 11px 23px;
            border-radius: 20px;
            border: solid 1px #aab3c3;
            font-size: 14px;
            text-align: left;
            color: #515c7f;
        }
    }
    .form-control::-webkit-input-placeholder {
        color: #515c7f;
    }
    button {
        border-radius: 20px;
        background-color: #276cf2;
    }
    .form-group {
        small {
            padding-left: 23px;
            padding-right: 23px;
        }
    }
    .jhi-password-strength-bar{
        padding-left: 23px;
    }
}
