.list-grant {
    padding-top: 26px;
    padding-bottom: 13px;
    table, tr, td, th {
        border: none;
    }
    .publisher {
        width: 165px;
        padding-left: 12px;
        padding-right: 12px;
    }
    .title {
        width: 200px;
        padding-left: 12px;
        padding-right: 12px;
    }
    .description {
        overflow-wrap: break-word;
        word-wrap: break-word;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;
        flex: 1;
        padding-left: 12px;
        padding-right: 12px;
    }
    .finance-description {
        width: 124px;
        padding-left: 12px;
        padding-right: 12px;
    }
    .admin-edit {
        width: 50px;
        padding: 12px 0 12px 0;
    }
    .date {
        width: 166px;
    }
    .table {
        .fa-sort{
            margin-left: 5px;
        }
        tr {
            position: relative;
            border-radius: 3px;
            border: solid 1px transparent;
        }
        thead {
            background-color: #eaf3ff;
            font-size: 14px;
            text-align: left;
            color: #3b4c67;
            a {
                color: #292b2c;
                text-decoration: none;
            }
        }
        td {
            font-size: 14px;
            line-height: 1.57;
            text-align: left;
            color: #3b4c67;
        }
        td.description {
            a {
                color: #f8b000;
                text-decoration: none;
            }
        }
        td.publisher {
            //font-weight: 500;
            //color: #00a9ff;
        }
        td.title {
            color: #3b4c67;
            a {
                color: #00a9ff;
                text-decoration: none;
            }
        }
        &.table-hover tbody tr:hover {
            background-color: #ffffff;
            box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
            border: solid 1px #c0cbe3;
            z-index: 1000;
            position: relative;
        }
    }
    .table-striped > tbody > tr:nth-child(2n+1) {
        background-color: #ffffff;
    }
    .table-striped > tbody > tr:nth-child(2n) {
        background-color: #f9fcff;
    }
    .pagination-page {
        .text {
            padding-top: 5px;
        }
    }
    .pagination{
        .page-link{
            border: solid 1px #ccd5e1;
            background-color: transparent;
        }
        .page-link:focus, .page-link:hover {
            background-color: #eaf3ff;
        }
        .page-item{
            background-color: #ffffff;
            &.icon{
                .page-link{
                    color: #7588a8;
                }
            }
            &.active{
                .page-link, .page-link:focus, .page-link:hover {
                    background-color: #7588a8;
                    color: #ffffff;
                    border-color: #6f7a8c;
                }
            }
        }
    }
}

@media (min-width: 1400px) {
    .list-grant {
        .publisher {
            width: 165px;
            padding-left: 24px;
            padding-right: 12px;
        }
        .title {
            width: 222px;
            padding-left: 12px;
            padding-right: 14px;
        }
        .description {
            padding-left: 12px;
            padding-right: 49px;
        }
        .finance-description {
            width: 124px;
            padding-left: 12px;
            padding-right: 12px;
        }
        .admin-edit {
            width: 130px;
            padding: 12px 0 12px 0;
        }
    }
}
