<div class="list-grant">
    <div class="table-responsive" *ngIf="grantDTOs">
        <table class="table table-hover table-striped">
            <thead>
            <tr class="row m-0" jhiSort [(predicate)]="predicate" [(ascending)]="reverse"
                [callback]="transition.bind(this)">
                <th class="publisher">
                    <a href="javascript:void(0);" jhiSortBy="publisher">
                        <span jhiTranslate="grants.publisher">Publisher</span>
                        <span class="fa fa-sort"></span>
                    </a>
                </th>
                <th class="title">
                    <a href="javascript:void(0);" jhiSortBy="title">
                        <span jhiTranslate="grants.titleData">Title</span>
                        <span class="fa fa-sort"></span>
                    </a>
                </th>
                <th class="description">
                    <span jhiTranslate="grants.description">Description</span>
                </th>
                <th class="finance-description">
                    <span jhiTranslate="grants.financeDescription">Finance Description</span>
                </th>
                <th class="date text-center">
                    <a href="javascript:void(0);" jhiSortBy="openDate">
                        <span jhiTranslate="grants.openDate">Open Date</span>
                        <span class="fa fa-sort"></span>
                    </a>
                </th>
                <th class="date text-center">
                    <a href="javascript:void(0);" jhiSortBy="closeDate">
                        <span jhiTranslate="grants.closeDate">Close Date</span>
                        <span class="fa fa-sort"></span>
                    </a>
                </th>
                <th class="admin-edit" *jhiHasAnyAuthority="'ROLE_ADMIN'"></th>
            </tr>
            </thead>
            <div *ngIf="grantDTOs.length==0" class="empty-table-custom text-center">
                <h5 class="text-muted" jhiTranslate="grants.empty"></h5>
            </div>
            <tbody *ngIf="grantDTOs.length!=0">
            <tr *ngFor="let grantDTO of grantDTOs; let i = index" class="row m-0"
                (click)="showDescription(grantDTO)" style="cursor: pointer">
                <td class="publisher">
                    <span>{{grantDTO.grantProgramDTO.publisherDTO.name}}</span>
                </td>
                <td class="title">
                    <div *ngIf="grantDTO.externalUrl"
                       href="javascript:void(0)">
                        {{grantDTO.title}}
                    </div>
                    <span *ngIf="!grantDTO.externalUrl">
                            {{grantDTO.title}}
                    </span>
                </td>
                <!--<td [ngClass]="isAdmin()?'col-2':'col-3'" ngbPopover="{{grantDTO.description}}"-->
                <!--triggers="mouseenter:mouseleave" placement="right" popoverTitle="Description">-->
                <!--{{grantDTO.description|slice:0:200}}-->
                <!--</td>-->
                <td class="description">
                    {{grantDTO.description?sliceDescription(grantDTO):('global.notAvailable'|translate)}}
                    <a *ngIf="isSliceDescription(grantDTO)">...</a>
                </td>
                <td class="finance-description"
                    [innerHTML]="grantDTO.financeDescription?getFinanceDescription(grantDTO):('global.notAvailable'|translate)">

                </td>
                <td class="date text-center">
                    {{grantDTO.openDate? (grantDTO.openDate| date: this.formatDate) :('global.notAvailable'|translate)}}
                </td>
                <td class="date text-center">
                    {{grantDTO.closeDate? (grantDTO.closeDate| date: this.formatDate):('global.notAvailable'|translate)}}
                </td>
                <td class="admin-edit text-right" *jhiHasAnyAuthority="'ROLE_ADMIN'">
                    <div class="btn-group flex-btn-group-container">
                        <button type="button"
                                [routerLink]="'/grant-edit/'+ grantDTO.id"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down"
                                  jhiTranslate="grants.action.editGrant">Edit Grant</span>
                        </button>
                    </div>
                    <div class="btn-group flex-btn-group-container">
                        <button type="button"
                                [routerLink]="'/grant-program-edit/'+ grantDTO.grantProgramDTO.id"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="grants.action.editGrantProgram">Edit Grant Program</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="pagination-page" *ngIf="grantDTOs&&grantDTOs.length!=0">
        <div class="row">
            <div class="col-lg-4 text">
                <jhi-item-count [page]="page" [total]="totalItems"
                                [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="col-lg-8">
                <div class="float-right">
                    <!--<ngb-pagination class="pagination-sm"-->
                    <!--[maxSize]="maxSize"-->
                    <!--[pageSize]="itemsPerPage"-->
                    <!--[collectionSize]="totalItems"-->
                    <!--[(page)]="page"-->
                    <!--[rotate]="true"-->
                    <!--[boundaryLinks]="true"-->
                    <!--(pageChange)="loadPage(page)"-->
                    <!--&gt;</ngb-pagination>-->
                    <nav>
                        <ul class="pagination pagination-sm">
                            <li class="page-item icon" [ngClass]="page <= 1 ? 'disable' : '' ">
                                <a class="page-link" (click)="page > 1 && loadPage(page-1)">
                                    <i class="fa fa-caret-left" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li *ngFor="let itemPage of listPage; let i = index" class="page-item"
                                [ngClass]="page === itemPage ? 'active' : '' ">
                                <a class="page-link" (click)="itemPage!=='...' && loadPage(itemPage)">{{itemPage}}</a>
                            </li>
                            <li class="page-item icon" [ngClass]="page*itemsPerPage >= totalItems ? 'disable' : ''">
                                <a class="page-link" (click)="page*itemsPerPage < totalItems && loadPage(page+1)">
                                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
