.grant-program-edit {
    .custom-tag {
        margin: 5px 5px 5px 0;
        display: inline-block;
        height: 50px;
        button {
            padding: 0;
            margin: 12px 12px 12px 0px;
            outline: none;
        }
    }
}
