<div class="card" (click)="showDescription(grantDTO)" style="cursor: pointer">
    <div class="grant-block">
        <div class="card-title" jhiEllipsis #title>
            <div *ngIf="grantDTO.externalUrl">
                {{grantDTO.title}}
            </div>
            <span *ngIf="!grantDTO.externalUrl">{{grantDTO.title}}</span>
        </div>
        <div class="card-text">
            <div class="publisher">
                <span>{{grantDTO.grantProgramDTO.publisherDTO.name}}</span>
            </div>
            <!--<div>-->
            <!--<span>{{grantDTO.openDate? (grantDTO.openDate| date: 'dd MMM yyyy'):('global.notAvailable'|translate)}}</span>-->
            <!--</div>-->
            <div>
                <div class="card-description" [jhiEllipsis]="20" #description>{{grantDTO.description?grantDTO.description:('global.notAvailable'|translate)}}
                </div>
            </div>
        </div>
    </div>
</div>
