.description-grant {
    .modal-dialog {
        width: 784px;
        max-width: 784px;
    }

}

.modal-body {
    padding: 46px 48px 35px 39px;
    .title {
        font-size: 24px;
        line-height: 0.92;
        text-align: left;
        color: #276cf2;
        margin-bottom: 5px;
    }
    .publisher {
        font-weight: 500;
        color: black;
        margin-bottom: 20px;
    }
    .content {
        display: block;
        overflow: hidden;
        .label-grant {
            font-weight: 600;
            color: #292b2c;
        }
        .content-grant {
            font-size: 14px;
            line-height: 1.57;
            text-align: left;
            color: #515c7f;
            margin-top: 4px;
            margin-left: 5px;
            &.inline-description {
                > *:first-child {
                    display: inline;
                }
            }
        }

    }

    .close-btn {
        display: none;
    }

    .button-more {
        margin-top: 20px;
        display: inline-block;
        padding: 10px 32px 10px 32px;
        border-radius: 100px;
        background-color: #276cf2;
        font-size: 13px;
        font-weight: 500;
        text-align: center;
        color: #ffffff;
    }
}

@media screen and (max-width: 768px) {
    .modal-body {
        .content {
            display: block;
        }
    }
}

@media screen and (max-width: 480px) {
    .description-grant .modal-dialog {
        max-width: none;
        width: auto;
    }

    .modal-body {
        padding: 42px 18px 28px 27px;
        .name {
            margin-bottom: 27px;
        }
        .content {
            margin-bottom: 25px;
        }

        .close-btn {
            display: block;
            position: absolute;
            top: 0;
            right: 0px;
            font-size: 24px;
            padding: 0 10px 0 10px;
            color: #a1a1a1;
            &:hover, &:focus {
                text-decoration: none;
            }
        }
    }
}
