.profiles-modal {
    .modal-dialog {
        max-width: 569px;
        width: 569px;
    }
}

.modal-header {
    &.profiles {
        background-color: #ffffff;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        padding: 32px 37px 20px 37px;
        border-bottom: none;
        span {
            font-size: 24px;
            line-height: 0.92;
            text-align: left;
            color: #0d2164;
        }
    }
}

.modal-body {
    &.profiles {
        padding: 0;
        font-size: 13px;
        .title {
            font-size: 14px;
            font-weight: 500;
            text-align: left;
            color: #0d2164;
            i {
                font-size: 18px;
                color: #515c7f;
            }
            a {
                margin-left: 7px;
            }
        }
        .view-profile {
            padding: 31px 32px 0px 32px;
            label {
                margin-bottom: 0px;
                width: 75px;
                font-size: 14px;
                text-align: left;
                color: #515c7f;
            }
            span {
                font-size: 14px;
                text-align: left;
                color: #515c7f;
            }
            div {
                margin-bottom: 37px;
            }
        }
        .profile {
            padding: 24px 39px 6px 39px;
            background-color: #f7f7f7;
        }
        .password {
            padding: 24px 39px 27px 39px;
        }
        .preferences {
            padding: 24px 39px 27px 39px;
            background-color: #f7f7f7;
            .title{
                padding-bottom: 4px;
            }
            .row {
                padding-left: 36px;
                .col-md-4{
                    padding-top: 4px;
                    padding-bottom: 4px;
                }
            }
            a {
                i {
                    vertical-align: middle;
                    padding-bottom: 2px;
                    font-size: 16px;
                    width: 18px;
                }
                span {
                    font-size: 12px;
                    line-height: 2;
                    text-align: left;
                    color: #515c7f;
                }
            }
        }
        .notification {
            padding: 20px 39px 31px 39px;
            .title{
                padding-bottom: 8px;
            }
            a {
                position: relative;
                i {
                    position: absolute;
                    font-size: 16px;
                    top: 2px;
                }
                div {
                    padding-left: 32px;
                    font-size: 14px;
                    line-height: 1.43;
                    text-align: left;
                    color: #515c7f;
                }
            }
        }
    }
}
