.jh-navbar-homepage {
    height: 592px;
    background-image: url("../../../content/images/shutterstock.png");
    background-repeat: no-repeat;
    background-size: cover;
    .jh-navbar {
        padding-left: 8.33%;
        padding-right: 8.33%;
    }
    .title {
        margin-top: 160px;
        margin-bottom: 32px;
        font-family: Montserrat;
        font-size: 43px;
        line-height: 1.31;
        text-align: center;
        color: #ffffff;
        b {
            font-weight: 600;
        }
    }
    .count-grant {
        font-family: Montserrat;
        font-size: 20px;
        text-align: center;
        color: #ffffff;
        .number-grant {
            font-weight: 600;
            color: #f8b000;
        }
    }
    .btn-take-me-there{
        margin-top: 35px;
        padding: 18px 35px 17px 35px;
        border-radius: 100px;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 2px;
        text-align: center;
        color: #ffffff;
    }
}

.jh-navbar {
    background-color: transparent;
    padding: .2em 1em;
    .profile-image {
        margin: -10px 0px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }
    .dropdown-item.active, .dropdown-item.active:focus, .dropdown-item.active:hover {
        background-color: #353d47;
    }
    .dropdown-toggle::after {
        margin-left: 0.15em;
    }
    ul.navbar-nav {
        padding: 0.5em;
        .nav-item {
            margin-left: 15px;
        }
    }
    a.nav-link {
        font-weight: 400;
    }
    .jh-navbar-toggler {
        color: #ccc;
        font-size: 1.5em;
        padding: 10px;
        &:hover {
            color: #fff;
        }
    }

    .app-search {
        margin: 23px 0px 0px 0px;
        position: relative;
    }

    .app-search a {
        position: absolute;
        top: 3px;
        left: 10px;
        color: #ffffff;
    }

    .app-search .form-control,
    .app-search .form-control:focus {
        font-size: 13px;
        color: #ffffff;
        padding-left: 30px;
        padding-right: 15px;
        background: transparent;
        box-shadow: none;
        border-radius: 18.5px;
        border: solid 1px #ffffff;
        height: 30px;
        width: 185px;
    }

    .nav-item-custom {
        margin-top: 18px;
    }
    .btn-login {
        margin-top: 5px;
        border-radius: 100px;
        padding: 6px 23px 6px 23px;
        font-family: Montserrat;
        font-size: 13px;
        font-weight: 500;
        text-align: center;
        color: #ffffff;
    }
}

@media screen and (min-width: 768px) {
    .jh-navbar-toggler {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .jh-logo-container {
        width: 100%;
    }
}

.navbar-title {
    display: inline-block;
    vertical-align: middle;
}

.navbar-brand {
    margin-top: 18px;
    &.logo {
        padding: 5px 15px;
        .logo-img {
            height: 27px;
            width: 110px;
            display: inline-block;
            vertical-align: middle;
            background: url("../../../content/images/header.png") no-repeat center center;
            background-size: contain;
        }
    }
}
