.jh-navbar-homepage {
    height: 592px;
    background-image: url("../../../content/images/shutterstock.png");
    background-repeat: no-repeat;
    background-size: cover;
    .jh-navbar {
        padding-left: 8.333333%;
        padding-right: 8.333333%;
    }
    .title {
        margin-top: 160px;
        margin-bottom: 32px;
        font-size: 43px;
        line-height: 1.31;
        text-align: center;
        color: #ffffff;
        b {
            font-weight: 600;
        }
    }
    .count-grant {
        font-size: 20px;
        text-align: center;
        color: #ffffff;
        .number-grant {
            font-weight: 600;
            color: #f8b000;
        }
    }
    .btn-take-me-there {
        margin-top: 35px;
        padding: 11px 27px 11px 27px;
        border-radius: 100px;
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 2px;
        text-align: center;
        color: #ffffff;
    }
}

.jh-navbar {
    height: 73px;
    padding-top: 37px;
    background-color: transparent;

    .nav-link {
        padding: 2px;
    }
    .navbar-title {
        display: inline-block;
        vertical-align: middle;
    }

    .navbar-brand {
        &.logo {
            padding-top: 0;
            padding-bottom: 0;
            .logo-img {
                height: 27px;
                width: 110px;
                display: inline-block;
                vertical-align: middle;
                background: url("../../../content/images/header.png") no-repeat center center;
                background-size: contain;
            }
        }
    }
    ul.navbar-nav {
        .nav-item {
            margin-left: 20px;
        }
    }
    .btn-login {
        padding: 6px 24px 6px 24px;
        border-radius: 100px;
        font-size: 13px;
        font-weight: 500;
        text-align: center;
        color: #ffffff;
    }
    .app-search {
        position: relative;
        a {
            position: absolute;
            top: 3px;
            left: 10px;
            color: #ffffff;
        }
        .form-control,
        .form-control:focus {
            font-size: 13px;
            color: #ffffff;
            padding-left: 30px;
            padding-right: 15px;
            background: transparent;
            box-shadow: none;
            border-radius: 18.5px;
            border: solid 1px #ffffff;
            height: 30px;
            width: 185px;
        }
    }
    .profile-image {
        margin: -10px 0px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }
    .dropdown-item.active, .dropdown-item.active:focus, .dropdown-item.active:hover {
        background-color: #353d47;
    }
    .dropdown-toggle::after {
        margin-left: 0.15em;
    }
    .user {
        .dropdown-toggle::after {
            border-top: 0;
            border-right: 0;
            border-left: 0;

        }
        .dropdown-toggle {
            color: #fff;
            font-size: 20px;
            padding: 0;
        }
    }
    a.nav-link {
        font-weight: 400;
    }
    .jh-navbar-toggler {
        color: #ccc;
        font-size: 1.5em;
        padding: 10px;
        &:hover {
            color: #fff;
        }
    }
    .language{
        padding: 4px 0 3px 0;
        color: #ffffff;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.92;
        text-align: center;
        .active{
            color: #f8b000;
        }
    }
}

@media screen and (min-width: 768px) {
    .jh-navbar-toggler {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .jh-logo-container {
        width: 100%;
    }
}

@media (min-width: 1400px) {
    .jh-navbar-homepage {
        height: 710px;
        .jh-navbar {
            padding-left: 17.08%;
            padding-right: 17.08%;
        }
        .title {
            margin-top: 209px;
            margin-bottom: 38px;
            font-size: 52px;
        }
        .count-grant {
            font-size: 24px;
        }
        .btn-take-me-there {
            margin-top: 42px;
            padding: 20px 40px 20px 40px;
        }
    }

    .jh-navbar {
        height: 73px;
        padding-top: 37px;
        .nav-link {
            padding: 4px;
        }
        .navbar-brand {
            &.logo {
                padding-top: 6px;
                .logo-img {
                    height: 27px;
                    width: 110px;
                }
            }
        }
        ul.navbar-nav {
            .nav-item {
                margin-left: 26px;
            }
        }
        .btn-login {
            padding: 9px 27px 9px 27px;
        }
        .app-search .form-control,
        .app-search .form-control:focus {
            height: 36px;
            width: 224px;
        }
        .app-search a {
            top: 5px;
        }

        .user {
            .dropdown-toggle {
                font-size: 24px;
            }
        }
        .language{
            padding: 6px 0 7px 0;
        }
    }
}
