.jh-navbar-homepage {
    background-image: url("../../../content/images/shutterstock.png");
    background-repeat: no-repeat;
    background-size: cover;
    .jh-navbar {
        padding-left: 8%;
        padding-right: 8%;
        ul.navbar-nav {
            .nav-item {
                &.icon-search {
                    color: #ffffff;
                }
            }
        }
    }
    .title {
        margin-top: 209px;
        margin-bottom: 38px;
        padding: 0 24px 0 24px;
        font-size: 52px;
        line-height: 1.31;
        text-align: center;
        color: #ffffff;
        b {
            font-weight: 600;
        }
    }
    .count-grant {
        font-size: 24px;
        text-align: center;
        color: #ffffff;
    }
    .btn-take-me-there {
        margin-top: 42px;
        margin-bottom: 113px;
        padding: 22px 39px 19px 40px;
        border-radius: 100px;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 2px;
        text-align: center;
        color: #ffffff;
    }
}

.jh-navbar-custom {
    position: relative;
    z-index: 1000;
    height: 67px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    .navbar {
        padding: 0;
    }
    .jh-navbar {
        height: 67px;
        .icon-filter {
            display: none;
        }
        .jh-logo-container {
            height: 68px;
            width: 200px;
            padding: 20px 56px 18px 24px;
            background-color: #193d7e;
        }
        &.navbar-normal {
            .jh-logo-container {
                background-color: transparent;
            }
        }
        .user {
            .dropdown-toggle {
                color: #515c7f;
            }
        }
        .nav-link {
            color: #515c7f;
        }
        .app-search {
            a {
                color: #515c7f;
            }
            .form-control,
            .form-control:focus {
                color: #515c7f;
                border: solid 1px #515c7f;
            }
        }
        .navbar-brand {
            &.logo {
                padding-top: 0;
                padding-bottom: 0;
                .logo-img {
                    height: 29px;
                    width: 120px;
                }
            }
        }

        ul.navbar-nav {
            .nav-item {
                &.language {
                    padding: 6px 0 7px 0;
                    color: #193c7e;
                    margin-right: 20px;
                }
            }
        }
    }
}

.jh-navbar {
    width: 100%;
    height: 73px;
    padding-top: 37px;
    background-color: transparent;

    .nav-link {
        padding: 4px;
    }
    .navbar-title {
        display: inline-block;
        vertical-align: middle;
    }

    .navbar-brand {
        &.logo {
            padding-top: 6px;
            padding-bottom: 0;
            .logo-img {
                height: 27px;
                width: 110px;
                display: inline-block;
                vertical-align: middle;
                background: url("../../../content/images/header.png") no-repeat center center;
                background-size: contain;
            }
        }
    }
    &.navbar-normal {
        .jh-logo-container {
            background-color: transparent;
        }
        .navbar-brand {
            &.logo {
                .logo-img {
                    height: 27px;
                    width: 110px;
                    display: inline-block;
                    vertical-align: middle;
                    background: url("../../../content/images/icon-popup-login.png") no-repeat center center;
                    background-size: contain;
                }
            }
        }
    }
    ul.navbar-nav {
        .nav-item {
            margin-left: 26px;
            &.icon-search {
                padding-top: 6px;
                color: #515c7f;
                display: none;
            }
            .icon-login {
                display: none;
            }
            &.language {
                margin-left: 18px;
                padding: 6px 0 7px 0;
                color: #ffffff;
                font-size: 12px;
                font-weight: 500;
                line-height: 1.92;
                text-align: center;
                .active {
                    color: #f8b000;
                }
            }
            .btn-login {
                border: 0;
                padding: 10px 28px 10px 28px;
                border-radius: 100px;
                font-size: 13px;
                font-weight: 500;
                text-align: center;
                color: #ffffff;
            }
        }
    }
    .app-search {
        position: relative;
        a {
            position: absolute;
            top: 5px;
            left: 10px;
            color: #ffffff;
        }
        .form-control,
        .form-control:focus {
            font-size: 13px;
            color: #ffffff;
            padding-left: 30px;
            padding-right: 15px;
            background: transparent;
            box-shadow: none;
            border-radius: 18.5px;
            border: solid 1px #ffffff;
            height: 36px;
            width: 220px;
        }
    }
    .profile-image {
        margin: -10px 0px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }
    .dropdown-item.active, .dropdown-item.active:focus, .dropdown-item.active:hover {
        background-color: #353d47;
    }
    .dropdown-toggle::after {
        margin-left: 0.15em;
    }
    .user {
        .dropdown-toggle::after {
            border-top: 0;
            border-right: 0;
            border-left: 0;

        }
        .dropdown-toggle {
            color: #fff;
            font-size: 24px;
            padding: 0;
        }
    }
    a.nav-link {
        font-weight: 400;
    }
    .jh-navbar-toggler {
        display: none;
        color: #ccc;
        font-size: 1.5em;
        padding: 10px;
        &:hover {
            color: #fff;
        }
    }
    .navbar-collapse {
        display: flex;
    }
}

@media screen and (min-width: 480px) {
    .jh-navbar-homepage {
        .jh-navbar {
            padding-left: 17.0833333%;
            padding-right: 15.8333333%;
        }
    }
}

@media screen and (min-width: 768px) {
    .jh-navbar-toggler {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .jh-logo-container {
        //width: 100%;
    }
    .jh-navbar-homepage {
        .jh-navbar {
            padding-left: 10%;
            padding-right: 10%;
        }
    }
    .jh-navbar {
        ul.navbar-nav {
            flex-direction: row;
            .nav-item {
                margin-left: 10px;
                &.language {
                    margin-left: 8px;
                }
            }
        }
        .app-search {
            .form-control,
            .form-control:focus {
                width: 190px;
            }
        }
        .text-admin {
            display: none;
        }
    }
}

@media screen and (max-width: 767px) {
    .jh-navbar-homepage {
        .jh-navbar {
            padding-left: 6%;
            padding-right: 6%;
            ul.navbar-nav {
                padding-top: 0px;
                .nav-item {
                    &.icon-search {
                        display: none;
                    }
                    .icon-login {
                        color: #ffffff;
                    }
                    &.language {
                        display: none;
                        padding: 6px 0 0 0;
                    }
                }
            }
        }
    }

    .jh-navbar {
        display: inline-block;

        .navbar-brand.logo {
            padding-top: 0;
            padding-bottom: 0;
        }

        ul.navbar-nav {
            margin-top: 0;
            &.width-full {
                width: 100%;
            }
            padding-top: 19px;
            .dropdown-menu {
                position: absolute;
                float: none;
            }
            .nav-item {
                margin-left: 10px;
                .icon-login {
                    margin-right: 10px;
                    display: block;
                    font-size: 24px;
                    color: #515c7f;
                }
                .btn-login {
                    display: none;
                    padding: 6px 14px 6px 14px;
                }

                &.language {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .jh-navbar-homepage {
        .jh-navbar {
            padding-left: 6%;
            padding-right: 6%;
            ul.navbar-nav {
                padding-top: 0px;
                .nav-item {
                    &.icon-search {
                        display: none;
                        padding-top: 6px;
                        &.active {
                            display: block;
                        }
                    }
                    .icon-login {
                        color: #ffffff;
                    }
                    &.language {
                        padding: 6px 0 0 0;
                    }
                }
            }
        }
        .title {
            margin-top: 76px;
            margin-bottom: 24px;
            font-size: 42px;
        }
        .btn-take-me-there {
            margin-top: 42px;
            margin-bottom: 59px;
        }
    }

    .jh-navbar {
        display: inline-block;
        .app-search {
            position: relative;
            display: none;
            flex: 1;
            form {
                width: 100%;
            }
            a {
                position: absolute;
                top: 5px;
                left: 10px;
                color: #ffffff;
            }
            .form-control,
            .form-control:focus {
                width: 100%;
            }
        }

        .navbar-brand.logo {
            padding-top: 0;
            padding-bottom: 0;
        }

        ul.navbar-nav {
            margin-top: 0;
            &.width-full {
                width: 100%;
            }
            padding-top: 19px;
            .dropdown-menu {
                position: absolute;
                float: none;
            }
            .nav-item {
                margin-left: 10px;
                .icon-login {
                    display: block;
                    font-size: 24px;
                    color: #515c7f;
                }
                &.active {
                    display: block;
                }
                &.language {
                    margin-left: 4px;
                    padding: 3px 0 0 0;
                }
                &.icon-search {
                    padding-top: 3px;
                }
                .btn-login {
                    display: none;
                    padding: 6px 14px 6px 14px;
                }
            }
        }

        .navbar-brand {
            &.hide-logo {
                display: none;
            }
        }

    }
    .jh-navbar-custom {
        .jh-navbar {
            &.navbar-normal {
                .navbar-brand {
                    &.logo {
                        margin-right: 0px;
                        margin-left: 0px;
                    }
                }
            }
            .icon-filter {
                display: block;
                .filter-image {
                    width: 20px;
                    height: 25px;
                    margin-bottom: -9px;
                    content: url("../../../content/images/filter_contours.png");
                }
                &.active {
                    .filter-image {
                        content: url("../../../content/images/filter_full.png");
                    }
                }
            }
            .navbar-brand {
                &.logo {
                    margin-right: 0px;
                    .logo-img {
                        height: 27px;
                        width: 110px;
                        display: inline-block;
                        vertical-align: middle;
                        background: url("../../../content/images/icon-popup-login.png") no-repeat center center;
                        background-size: contain;
                    }
                }
            }
            .jh-logo-container {
                width: auto;
                height: 68px;
                padding: 20px 0px 18px 15px;
                background-color: transparent;
            }
        }
    }
}
