<div>
    <div class="row">
        <div class="col-md-6 text-center">
            <div class="jumbotron">
                <h1 class="display-4" jhiTranslate="home.publicGrants.title">Public Grants</h1>
                <p class="lead" jhiTranslate="home.publicGrants.description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et velit ac mi convallis
                    consequat.</p>
                <p>
                    <button class="btn btn-primary btn-lg" routerLink="grants" [queryParams]="{ openGrant: true, comingGrant: true }" role="button" jhiTranslate="home.publicGrants.button">View public grants</button>
                </p>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <div class="jumbotron">
                <h1 class="display-4" jhiTranslate="home.privateGrants.title">Private Grants</h1>
                <p class="lead" jhiTranslate="home.privateGrants.description">Suspendisse finibus, odio et egestas vehicula, justo orci fermentum eros, tristique
                    porttitor dolor ipsum sed quam.</p>
                <p class="lead">
                    <button class="btn btn-primary btn-lg" role="button" disabled jhiTranslate="home.privateGrants.button">Coming soon</button>
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="card height-100">
                <div class="card-block">
                    <h4 class="card-title" jhiTranslate="home.aboutUs.title">About us</h4>
                    <p class="card-text" jhiTranslate="home.aboutUs.description">Quisque ultrices hendrerit risus. Sed ut tortor eu nulla consectetur
                        ullamcorper. Praesent in urna dignissim, varius massa vel, fermentum turpis.In pulvinar nibh
                        libero, nec ultrices nisl varius eu. Integer sollicitudin ipsum eget orci ornare blandit.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4  ">
            <div class="card height-100">
                <div class="card-block">
                    <div class="text-center">
                        <p class="card-text" jhiTranslate="home.contact">Kontaktoppgifter: mail@mail.com</p>
                    </div>
                    <div class="text-center">
                        <span class="icon-social">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </span>
                        <span class="icon-social">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </span>
                        <span class="icon-social">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
