<div class="modal-header login justify-content-center">
    <!--<h4 class="modal-title" jhiTranslate="login.title">Sign in</h4>-->
    <!--<button aria-label="Close" data-dismiss="modal" class="close" type="button" (click)="activeModal.dismiss('closed')">-->
    <!--<span aria-hidden="true">x</span>-->
    <!--</button>-->

    <div class="img-header">
        <img src="../../../content/images/icon-popup-login.png">
    </div>
</div>
<div class="modal-body login" [ngSwitch]="isRegistration">
    <div class="text-center">
        <div class="radio-menu">
            <div class="register text-left" *ngIf="!success">
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" [(ngModel)]="isRegistration"
                               name="inlineRadioOptions"
                               [value]="true">
                        <span class="text" jhiTranslate="register.title">Registration</span>
                    </label>
                </div>
            </div>
            <div class="sign-in  text-left" *ngIf="!success">
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" [(ngModel)]="isRegistration"
                               name="inlineRadioOptions"
                               [value]="false">
                        <span class="text" jhiTranslate="login.title">Sign in</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div *ngSwitchCase="true" class="form-register">
        <div class="">
            <div class="alert alert-success" *ngIf="success" jhiTranslate="register.messages.success">
                <strong>Registration saved!</strong> Please check your email for confirmation.
            </div>

            <div class="alert alert-danger" *ngIf="error" jhiTranslate="register.messages.error.fail">
                <strong>Registration failed!</strong> Please try again later.
            </div>

            <div class="alert alert-danger" *ngIf="errorUserExists" jhiTranslate="register.messages.error.emailexists">
                <strong>Email is already in use!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" *ngIf="errorEmailExists" jhiTranslate="register.messages.error.emailexists">
                <strong>Email is already in use!</strong> Please choose another one.
            </div>

            <!--<div class="alert alert-danger" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch">-->
            <!--The password and its confirmation do not match!-->
            <!--</div>-->
        </div>
        <div class="">
            <form name="form" role="form" (ngSubmit)="register()" #registerForm="ngForm" *ngIf="!success">
                <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="registerAccount.login" id="login" name="login"
                           #login="ngModel" placeholder="{{'global.form.email.placeholder' | translate}}"
                           required minlength="5" maxlength="100" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                    <div *ngIf="login.dirty && login.invalid">
                        <small class="form-text text-danger" *ngIf="login.errors.required"
                               jhiTranslate="global.messages.validate.email.required">
                            Your email is required.
                        </small>
                        <small class="form-text text-danger" *ngIf="login.errors.invalid||login.errors.pattern"
                               jhiTranslate="global.messages.validate.email.invalid">
                            Your email is invalid.
                        </small>
                        <small class="form-text text-danger" *ngIf="login.errors.minlength"
                               jhiTranslate="global.messages.validate.email.minlength">
                            Your email is required to be at least 5 characters.
                        </small>
                        <small class="form-text text-danger" *ngIf="login.errors.maxlength"
                               jhiTranslate="global.messages.validate.email.maxlength">
                            Your email cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group show-password">
                    <input [type]="showPassword ? 'text' : 'password'" class="form-control" id="password"
                           name="password" #password="ngModel"
                           id="password-field"
                           placeholder="{{'global.form.newpassword.placeholder' | translate}}"
                           [(ngModel)]="registerAccount.password" minlength=4 maxlength=50 required>
                    <span class="" (click)="showPassword=!showPassword">
                        <i [ngClass]="showPassword?'fa fa-eye-slash':'fa fa-eye'" aria-hidden="true"></i>
                    </span>
                    <div *ngIf="password.dirty && password.invalid">
                        <small class="form-text text-danger" *ngIf="password.errors.required"
                               jhiTranslate="global.messages.validate.newpassword.required">
                            Your password is required.
                        </small>
                        <small class="form-text text-danger" *ngIf="password.errors.minlength"
                               jhiTranslate="global.messages.validate.newpassword.minlength">
                            Your password is required to be at least 4 characters.
                        </small>
                        <small class="form-text text-danger" *ngIf="password.errors.maxlength"
                               jhiTranslate="global.messages.validate.newpassword.maxlength">
                            Your password cannot be longer than 50 characters.
                        </small>
                    </div>
                    <jhi-password-strength-bar [passwordToCheck]="registerAccount.password"></jhi-password-strength-bar>
                </div>
                <div class="form-check">
                    <a class="check-terms" [ngClass]="terms1?'':'unchecked'"
                       (click)="terms1=!terms1">
                        <i class="fa fa-check" aria-hidden="true"></i>
                        <span jhiTranslate="register.Terms1">I agree to that Avonniv can store my email.</span>
                    </a>
                </div>
                <div class="form-check">
                    <a class="check-terms" [ngClass]="terms2?'':'unchecked'"
                       (click)="terms2=!terms2">
                        <i class="fa fa-check" aria-hidden="true"></i>
                        <span jhiTranslate="register.Terms2">I agree to that Avonniv can send me notification emails about grant updates.</span>
                    </a>
                </div>
                <div class="form-check">
                    <a class="check-terms" [ngClass]="terms3?'':'unchecked'"
                       (click)="terms3=!terms3">
                        <i class="fa fa-check" aria-hidden="true"></i>
                        <span jhiTranslate="register.Terms3">I agree to Avonniv's Terms & Conditions.</span>
                    </a>
                </div>
                <!--<div class="form-group">-->
                <!--<input type="password" class="form-control" id="confirmPassword" name="confirmPassword"-->
                <!--#confirmPasswordInput="ngModel"-->
                <!--placeholder="{{'global.form.confirmpassword.placeholder' | translate}}"-->
                <!--[(ngModel)]="confirmPassword" minlength=4 maxlength=50 required>-->
                <!--<div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">-->
                <!--<small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.required"-->
                <!--jhiTranslate="global.messages.validate.confirmpassword.required">-->
                <!--Your confirmation password is required.-->
                <!--</small>-->
                <!--<small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.minlength"-->
                <!--jhiTranslate="global.messages.validate.confirmpassword.minlength">-->
                <!--Your confirmation password is required to be at least 4 characters.-->
                <!--</small>-->
                <!--<small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.maxlength"-->
                <!--jhiTranslate="global.messages.validate.confirmpassword.maxlength">-->
                <!--Your confirmation password cannot be longer than 50 characters.-->
                <!--</small>-->
                <!--</div>-->
                <!--</div>-->
                <div class="text-center">
                    <button type="submit" [disabled]="registerForm.form.invalid || !terms1 || !terms2 || !terms3" class="btn btn-primary btn-block"
                            jhiTranslate="register.form.button">Register
                    </button>
                </div>
            </form>
        </div>
        <!--<div class="bottom-text text-center">-->
            <!--<span>By clicking, I accept the <a>Terms of Service</a></span>-->
        <!--</div>-->
    </div>
    <div *ngSwitchCase="false" class="form-sign-in">
        <div class="">
            <div class="alert alert-danger" *ngIf="authenticationError"
                 jhiTranslate="login.messages.error.authentication">
                <strong>Failed to sign in!</strong> Please check your credentials and try again.
            </div>
        </div>
        <div class="">
            <form class="form" role="form" (ngSubmit)="login()" #loginForm="ngForm" *ngIf="!success">
                <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="username" id="usernameLogin"
                           name="usernameLogin"
                           #usernameLogin="ngModel" placeholder="{{'global.form.email.placeholder' | translate}}"
                           required minlength="5" maxlength="100" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                    <div *ngIf="usernameLogin.dirty && usernameLogin.invalid">
                        <small class="form-text text-danger" *ngIf="usernameLogin.errors.required"
                               jhiTranslate="global.messages.validate.email.required">
                            Your email is required.
                        </small>
                        <small class="form-text text-danger" *ngIf="usernameLogin.errors.invalid||usernameLogin.errors.pattern"
                               jhiTranslate="global.messages.validate.email.invalid">
                            Your email is invalid.
                        </small>
                        <small class="form-text text-danger" *ngIf="usernameLogin.errors.minlength"
                               jhiTranslate="global.messages.validate.email.minlength">
                            Your email is required to be at least 5 characters.
                        </small>
                        <small class="form-text text-danger" *ngIf="usernameLogin.errors.maxlength"
                               jhiTranslate="global.messages.validate.email.maxlength">
                            Your email cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" id="passwordLogin"
                           #passwordLogin="ngModel"
                           placeholder="{{'login.form.password.placeholder' | translate}}"
                           [(ngModel)]="password" minlength=4 maxlength=50 required>
                    <div *ngIf="passwordLogin.dirty && passwordLogin.invalid">
                        <small class="form-text text-danger" *ngIf="passwordLogin.errors.required"
                               jhiTranslate="global.messages.validate.newpassword.required">
                            Your password is required.
                        </small>
                        <small class="form-text text-danger" *ngIf="passwordLogin.errors.minlength"
                               jhiTranslate="global.messages.validate.newpassword.minlength">
                            Your password is required to be at least 4 characters.
                        </small>
                        <small class="form-text text-danger" *ngIf="passwordLogin.errors.maxlength"
                               jhiTranslate="global.messages.validate.newpassword.maxlength">
                            Your password cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-check">
                    <a class="check-remember-me" [ngClass]="rememberMe?'':'unchecked'"
                       (click)="rememberMe=!rememberMe">
                        <i class="fa fa-check" aria-hidden="true"></i>
                        <span jhiTranslate="login.form.rememberme">Remember me</span>
                    </a>
                        <!--<input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe"-->
                               <!--[(ngModel)]="rememberMe" checked>-->
                        <!--<span jhiTranslate="login.form.rememberme">Remember me</span>-->
                    <a class="request-reset-password" (click)="requestResetPassword()" jhiTranslate="login.password.forgot">Forgot password?</a>
                </div>
                <div class="text-center">
                    <button type="submit" [disabled]="loginForm.form.invalid" class="btn btn-primary btn-block"
                            jhiTranslate="login.form.button">Sign in
                    </button>
                </div>
            </form>
        </div>
        <div class="bottom-text text-center">
            <span jhiTranslate="login.register.noAccount">Don't have an account? </span>
            <a (click)="isRegistration=true" jhiTranslate="login.register.link">Sign Up</a>
        </div>
    </div>
</div>
